@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 0 0% 0%;

    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 92%;

    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 40%;

    --accent: 148 28% 46%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 82%;
    --ring: 148 28% 46%;

    --radius: 0rem;

    --sidebar-background: 0 0% 93%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 92%;
    --sidebar-accent: 0 0% 88%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 80%;
    --sidebar-ring: 148 28% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
